<div class="vh-100 d-flex flex-column justify-content-center">

  <h1 class="text-center text-danger-emphasis">
    Game Results
  </h1>

  <div class="d-flex flex-column justify-content-center align-items-center mt-3">

    <div class=mb-3>
      <%= @display_result %>
    </div>

    <p>
      <a class ="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="http://localhost:3000/new"> Play again!</a>
    </p>

  </div>
</div>
